<?xml version="1.0"?>
<!--
/**
 *
 * DwD-S3connector - Magento Extension
 *
 * @copyright Copyright (c) 2014 DwDesigner Inc. (http://www.dwdeveloper.com/)
 * @author Damian A. Pastorini - damian.pastorini@dwdeveloper.com
 *
 */
-->
<config>
    <tabs>
        <dwd_all translate="label">
            <label>DwD Extensions</label>
            <sort_order>100</sort_order>
        </dwd_all>
    </tabs>
    <sections>
        <dwd_s3connector translate="label" module="dwd_s3connector">
            <label>S3 Connector</label>
            <tab>dwd_all</tab>
            <frontend_type>text</frontend_type>
            <sort_order>120</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>800</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <aws_key translate="label">
                            <label>AWS Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </aws_key>
                        <aws_secret translate="label">
                            <label>AWS Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </aws_secret>
                        <bucket translate="label">
                            <label>Full Bucket Path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bucket>
                        <folder translate="label">
                            <label>Destination Folder</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Starting from Magento Root, for example "media" will point to MAGE_ROOT/media.</comment>
                        </folder>
                        <import>
                            <label>Import Data</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>dwd_s3connector/adminhtml_system_config_import</frontend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>IMPORTANT: remember to save your key and secret before start the import.</comment>
                        </import>
                    </fields>
                </general>
            </groups>
        </dwd_s3connector>
    </sections>
</config>
